<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Login
                    </h3>
                </div>
                <div class="panel-body">
                    <form name="loginForm" ng-submit="login()">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" ng-model="user.username" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" ng-model="user.password" class="form-control" required />
                        </div>
                        New User? <a ui-sref="register">Register</a>
                        <button type="submit" class="btn btn-info pull-right">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>